div.movie{
    padding: 1px;
    margin-top: 0px;
}

div.movie-box{
    padding: 1px;
    margin: 0px;
    padding-top: 15px;
    background-color: black;
    height: 300px;
}

div.stars{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
}


.movie-title {
    line-height:25px;
    height: 50px;
    width: 100%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5;
    align-content: center;
}
.movie-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;

}
